<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/style/checkout.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Hotel Check-Out Form</title>

</head>
<body>

<div class="container">
  <div class="card">
    <h1 style="text-align: center;">Hotel Check-Out Form</h1>
    <form>
      <div>
        <label>Client Name</label>
        <input type="text" placeholder="Enter client's full name">
      </div>
      <div>
        <label>Mention Rooms Number's</label>
        <input type="text" placeholder="Mention all Room Number's : eg. 101,102">
        
      </div>
      <div><label>Total Rooms</label>
        <input type="text" placeholder="Total Rooms."></div>
      <div>
        <label>Check-In Date</label>
        <input type="date">
      </div>
      <div>
        <label>Check-Out Date</label>
        <input type="date">
      </div>
      <div>
        <label>Total Number of Guests</label>
        <input type="number" placeholder="e.g. 2">
      </div>
      <div>
        <label>Number of Etc Beds Used</label>
        <input type="number" placeholder="e.g. 2">
      </div>
      <div>
        <label>Extra Services Used</label>
        <textarea placeholder="List any extra services (food, laundry, etc.)"></textarea>
      </div>
      <div>
        <label>Pending Payments</label>
        <input type="text" placeholder="Enter amount or 'None'">
      </div>
      <div>
        <label>Payment Mode</label>
        <select>
          <option>Cash</option>
          <option>Credit/Debit Card</option>
          <option>UPI</option>
          <option>Bank Transfer</option>
          <option>By agent </option>
        </select>
      </div>
      <div class="full">
        <label>Remarks / Feedback</label>
        <textarea placeholder="Write remarks or feedback"></textarea>
      </div>
      <div class="actions">
        <button type="button" class="btn-ghost">Cancel</button>
        <button type="submit" class="btn-primary">Submit Check-Out</button>
      </div>
    </form>
  </div>
</div>

</body>
</html>
