<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In / Sign Up</title>
    <link rel="stylesheet" href="/public/style/login.css">
</head>
<body>
    <!-- Navbar -->
    <header>
        <nav>
            <div class="logo">
                <img src="/public/assets/logo.png" alt="">
            </div>
            <div class="lists">
                <ul>
                    <li>StayElite</li>
                </ul>
            </div>
        </nav>
    </header>

    <!-- Login Form -->
    <div class="container">
        <h1>Login</h1>
        <form action="">
            <input type="text" placeholder="Username">
            <input type="password" placeholder="Password">
            <label for="Role" class="role">Role</label>
            <select name="Role" id="Role">
                <option value="Manager">Manager</option>
                <option value="Receptionist">Receptionist</option>
                <option value="Admin">Admin</option>
            </select>
            <input type="submit" value="LOG IN">
        </form>
    </div>
</body>
</html>
