<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/public/style/login.css">
    <title>sign up </title>
</head>
<body>
    

    <div class="container">
        <h1>Login</h1>
       
        <div class="img"> 
        
        
        <form action="">
        <input type="text" placeholder="Username " >
        <input type="password" placeholder="password" >
        <label for="Role" class="role">Role</label>
         <select name="Role" id="Role" >
            
            
            <option value="Role">Manager</option>
            <option value="Role">Recipcinist</option>
            <option value="Role">Admin</option>

         </select>
    
    <input type="submit" value="LOG IN">
    </form>
    
</body>
</html>